# QuickDiag Backend Environment Template (.env.example)

PORT=5000
NODE_ENV=development
JWT_SECRET=CHLa7tXEnE21+lj2dPY1rbDAk+YCZYCp2xqt4nLPZgTMidc2497nTmzJE9WD8k7hMQY1T9Q8D8wOW7mW48C2gg==
JWT_EXPIRES_IN=24h

# Supabase Connection String format:
# postgresql://postgres:[YOUR-PASSWORD]@db.ptlefuhvtigmdhtmxiug.supabase.co:5432/postgres
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.ptlefuhvtigmdhtmxiug.supabase.co:5432/postgres

SUPABASE_URL=https://ptlefuhvtigmdhtmxiug.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0bGVmdWh2dGlnbWRodG14aXVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTkxOTQ0MywiZXhwIjoyMTAxNDk1NDQzfQ.v-nnBKSF9m4IGDZ_hBVQCM61hgx5Y9pZTnPZVlpqdOM
